<div class="container">
  <div class="mb-2">
    <span class="bold">Lista de <%= @list.humanized_category_name %> </span>
  </div>

  <div>
    <%= render "/shared/list", movies: @list.movies, list: @list %>
  </div>
</div>