  <p>
    <strong>Nome:</strong>
    <%= director.name %>
  </p>

  <p>
    <strong>Nacionalidade:</strong>
    <%= director.nacionalidade %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= director.data_nascimento %>
  </p>

  <p>
    <strong>Genero favorito:</strong>
    <%= director.gender.name %>
  </p>