<h1 class="page-top">Editar gênero</h1>
<div>
  <%= link_to "Voltar ao gênero", @gender, class:"new-button" %> |
  <%= link_to "Voltar a lista", genders_path, class:"new-button", style:"margin-left: 0" %>
</div>

<%= render "form", gender: @gender %>

<br>


